<a href="https://colab.research.google.com/github/Alina2004A/BMD/blob/main/Levchenko_1_prakt.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>1 практична</h1>
<p><font size=10>Левченко БС-11</font></p>

1. Введення даних вручну

In [ ]:
import pandas as pd

In [ ]:
my_df = pd.DataFrame(
{
   "Name" : ['T-84 Oplot','Leopard 2','M1 Abrams','FV 4034 Challenger 2'],
   "Place of origin": ['Ukraine','Germany','USA','United Kingdom'],
   "Mass (tonnes)": [46,66,60,64],
   "Height (m)": [2.215,3.0,2.44,2.49],
   "Width (m)": [3.775,3.75,3.66,2.49],
   "Maximum Speed (km/h)": [70,70,59,67]
})
my_df

,Name,Place of origin,Mass(tonnes),Height(m),Width(m),Maximum Speed(km/h)
0,T-84 Oplot,Ukraine,46,2.215,3.775,70
1,Leopard 2,Germany,66,3.000,3.750,70
2,M1 Abrams,USA,60,2.440,3.660,59
3,FV 4034 Challenger 2,United Kingdom,64,2.490,2.490,67

2.1. Завантаження даних з вказанням повного шляху до файлу.

In [ ]:
path = "/Users/Пользователь/Desktop/fruitvegprices-2017_2022.csv"
data = pd.read_csv(path, encoding = 'utf-8')
print(type(data))

<class 'pandas.core.frame.DataFrame'>

2.2. Завантаження даних, що розміщений в робочій директорії.

In [ ]:
import os
print("The directory we are working in is: {}".format(os.getcwd()))

The directory we are working in is: C:\Users\Пользователь\Desktop\jupyter notebook

In [ ]:
data = pd.read_csv("fruitvegprices-2017_2022.csv")
print(type(data))

<class 'pandas.core.frame.DataFrame'>

3. Відобразимо завантажені дані.

In [ ]:
data

         category           item            variety        date  price  unit
0           fruit         apples  bramleys_seedling  2022-03-11   2.05    kg
1           fruit         apples  coxs_orange_group  2022-03-11   1.22    kg
2           fruit         apples    egremont_russet  2022-03-11   1.14    kg
3           fruit         apples           braeburn  2022-03-11   1.05    kg
4           fruit         apples               gala  2022-03-11   1.03    kg
...           ...            ...                ...         ...    ...   ...
9642  cut_flowers    alstromeria             indoor  2017-11-03   0.27  stem
9643  cut_flowers  chrysanthemum       indoor_spray  2017-11-03   0.22  stem
9644  cut_flowers        lillies           oriental  2017-11-03   0.70  stem
9645  cut_flowers      narcissus             indoor  2017-11-03   0.06  stem
9646   pot_plants       cyclamen              13_cm  2017-11-03   0.75  unit

[9647 rows x 6 columns]

4. Введемо запит на відображення кількості стовпців та рядків (спостережень).

In [ ]:
data.shape

(9647, 6)

5. Відобразимо 5 перших та 5 останніх рядків, використовуючи функції head та tail.

In [ ]:
data.head()

  category    item            variety        date  price unit
0    fruit  apples  bramleys_seedling  2022-03-11   2.05   kg
1    fruit  apples  coxs_orange_group  2022-03-11   1.22   kg
2    fruit  apples    egremont_russet  2022-03-11   1.14   kg
3    fruit  apples           braeburn  2022-03-11   1.05   kg
4    fruit  apples               gala  2022-03-11   1.03   kg

In [ ]:
data.tail()

         category           item       variety        date  price  unit
9642  cut_flowers    alstromeria        indoor  2017-11-03   0.27  stem
9643  cut_flowers  chrysanthemum  indoor_spray  2017-11-03   0.22  stem
9644  cut_flowers        lillies      oriental  2017-11-03   0.70  stem
9645  cut_flowers      narcissus        indoor  2017-11-03   0.06  stem
9646   pot_plants       cyclamen         13_cm  2017-11-03   0.75  unit

6. Визначимо тип даних в рядках, використовуючи функцію dtypes.

In [ ]:
data.dtypes

category     object
item         object
variety      object
date         object
price       float64
unit         object
dtype: object

7.1. Застосуємо функцію describe до повного масиву даних.

In [ ]:
info_data = data.describe()
info_data

             price
count  9647.000000
mean      1.528333
std       1.927865
min       0.020000
25%       0.540000
50%       0.880000
75%       1.500000
max      17.600000

7.2. Застосуємо функцію describe для окремих змінних.

In [ ]:
data["item"].describe()

count       9647
unique        54
top       apples
freq        1077
Name: item, dtype: object

In [ ]:
data["price"].describe()

count    9647.000000
mean        1.528333
std         1.927865
min         0.020000
25%         0.540000
50%         0.880000
75%         1.500000
max        17.600000
Name: price, dtype: float64

8. Створюємо новий масив даних, що містить лише перші 10 рядків з завантаженого масиву.

In [ ]:
cut_data = data.iloc[0:10,:]
cut_data

    category              item            variety        date  price unit
0      fruit            apples  bramleys_seedling  2022-03-11   2.05   kg
1      fruit            apples  coxs_orange_group  2022-03-11   1.22   kg
2      fruit            apples    egremont_russet  2022-03-11   1.14   kg
3      fruit            apples           braeburn  2022-03-11   1.05   kg
4      fruit            apples               gala  2022-03-11   1.03   kg
5      fruit            apples  other_late_season  2022-03-11   0.85   kg
6      fruit             pears         conference  2022-03-11   0.77   kg
7      fruit             pears  doyenne_du_comice  2022-03-11   1.24   kg
8  vegetable          beetroot           beetroot  2022-03-11   0.52   kg
9  vegetable  brussels_sprouts   brussels_sprouts  2022-03-11   0.78   kg

9. Додаємо новий стовпчик, та заповнюємо його даними, що відносять кожний з рядків до однієї з двох груп.

In [ ]:
new_data = ["gr1", "gr1", "gr2", "gr1", "gr1", "gr2", "gr2", "gr1", "gr2", "gr1"]
cut_data.insert(1, "Group", new_data)
cut_data

,category,Group,item,variety,date,price,unit
0,fruit,gr1,apples,bramleys_seedling,2022-03-11,2.05,kg
1,fruit,gr1,apples,coxs_orange_group,2022-03-11,1.22,kg
2,fruit,gr2,apples,egremont_russet,2022-03-11,1.14,kg
3,fruit,gr1,apples,braeburn,2022-03-11,1.05,kg
4,fruit,gr1,apples,gala,2022-03-11,1.03,kg
5,fruit,gr2,apples,other_late_season,2022-03-11,0.85,kg
6,fruit,gr2,pears,conference,2022-03-11,0.77,kg
7,fruit,gr1,pears,doyenne_du_comice,2022-03-11,1.24,kg
8,vegetable,gr2,beetroot,beetroot,2022-03-11,0.52,kg
9,vegetable,gr1,brussels_sprouts,brussels_sprouts,2022-03-11,0.78,kg

10. Виведемо статистику по всім змінним розділивши масив даних

In [ ]:
cut_data.groupby("Group").describe()

      price
      count      mean       std   min     25%    50%     75%   max
Group
gr1     6.0  1.228333  0.435312  0.78  1.0350  1.135  1.2350  2.05
gr2     4.0  0.820000  0.255473  0.52  0.7075  0.810  0.9225  1.14

11. Зберігаємо два файли даних:
11.1. Файл з обрізаним масивом даних, та з новою змінною.
11.2. Файл з повною статистикою по початковому масиву даних.

In [ ]:
cut_data.to_csv("output1.csv", encoding = 'utf8')
info.to_csv("output2.csv")